ift585_tp3/bin/Debug/ift585_tp3.exe
ift585_tp3/bin/Debug/ift585_tp3.exe.config
*.pdb
ift585_tp3/bin/Debug/ift585_tp3.vshost.exe
ift585_tp3/bin/Debug/ift585_tp3.vshost.exe.config
ift585_tp3/bin/Debug/ift585_tp3.vshost.exe.manifest
ift585_tp3/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
ift585_tp3/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ift585_tp3/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ift585_tp3/obj/Debug/ift585_tp3.exe
ift585_tp3/obj/Debug/ift585_tp3.csproj.GenerateResource.Cache
ift585_tp3/obj/Debug/ift585_tp3.Properties.Resources.resources
ift585_tp3/obj/Debug/ift585_tp3.HomeForm.resources
ift585_tp3/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ift585_tp3/obj/Debug/ift585_tp3.LoginForm.resources
ift585_tp3/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ift585_tp3/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ift585_tp3/obj/Debug/ift585_tp3.UserProfilForm.resources
ift585_tp3/obj/Debug/ift585_tp3.csproj.FileListAbsolute.txt
ift585_tp3/obj/Debug/ift585_tp3.RoomForm.resources
ift585_tp3/obj/Debug/ift585_tp3.csprojResolveAssemblyReference.cache
ift585_tp3_server/bin/Debug/ift585_tp3_server.exe
ift585_tp3_server/bin/Debug/ift585_tp3_server.exe.config
ift585_tp3_server/bin/Debug/ift585_tp3_server.vshost.exe
ift585_tp3_server/bin/Debug/ift585_tp3_server.vshost.exe.config
ift585_tp3_server/bin/Debug/ift585_tp3_server.vshost.exe.manifest
ift585_tp3_server/obj/Debug/ift585_tp3_server.csproj.FileListAbsolute.txt
ift585_tp3_server/obj/Debug/ift585_tp3_server.csprojResolveAssemblyReference.cache
ift585_tp3_server/obj/Debug/ift585_tp3_server.exe
ift585_tp3_server/bin/Debug/ift585_tp3_library.dll
ift585_tp3_library/obj/Debug/ift585_tp3_library.dll
ift585_tp3_library/obj/Debug/ift585_tp3_library.csproj.FileListAbsolute.txt
ift585_tp3_library/obj/Debug/ift585_tp3_library.csprojResolveAssemblyReference.cache
ift585_tp3_library/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ift585_tp3_library/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ift585_tp3_library/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ift585_tp3_library/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ift585_tp3/bin/Debug/ift585_tp3_library.dll
ift585_tp3_server/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ift585_tp3_server/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ift585_tp3_server/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ift585_tp3_server/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ift585_tp3_server/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ift585_tp3_library/bin/Debug/ift585_tp3_library.dll
ift585_tp3_server/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ift585_tp3_server/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ift585_tp3_server/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ift585_tp3_server/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.suo
ift585_tp3_server/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.suo